TEST_MODE=live
TIMEOUT_MS=30000

AUTH_URL=https://automationintesting.online/auth
ROOM_URL=https://automationintesting.online/room
BOOKING_URL=https://automationintesting.online/booking
MESSAGE_URL=https://automationintesting.online/message
BRANDING_URL=https://automationintesting.online/branding
REPORT_URL=https://automationintesting.online/report

ADMIN_USER=admin
ADMIN_PASSWORD=password
